* {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  /* background-color: rgba(0,0,0,.5); */
  width: 100%;
  height: 38vh;
  background: url("/src/header-background.jpg");
  background-position: top -70px center;
}

nav {
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0px;
  font-size: 16px;
}

div.carousel {
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  height: 38vh;
}

section.blocks {
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  height: 38vh;
  margin: 5px 0px;
}

footer.footer-top {
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  min-height: 30vh;
}

footer.footer-top .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

footer.footer-top .col {
  display: inline-block;
  min-width: 250px;
  margin: 30px 10px;
  background-color: rgba(255, 255, 255, 0.00);
}

footer.footer-top h1 {
  margin-bottom: 18px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

footer.footer-top li {
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  list-style: none;
  margin: 10px 0px;
}


footer.footer-top label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;

}

footer.footer-top button {
  padding: 0px;
  width: 80px;
  height: 30px;
  font-size: 10px;
  margin-left: calc(100% - 80px);
  margin-top: 2px;

}

footer.footer-top input {
  padding: 0px;
  height: 30px;
  width: 100%;
  font-size: 12px;
}

footer.footer-bottom {
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  height: 5vh;
}

footer.footer-bottom .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

footer.footer-bottom .bottom-left, footer.footer-bottom .bottom-right {
  display: inline-block;
  margin: 0px 10px;
  line-height: 5vh;
  background-color: rgba(255, 255, 255, 0.00);
}

footer.footer-bottom p {
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
}

footer.footer-bottom li {
  display: inline;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  list-style: none;
  margin: 10px 0px;
  padding: 0px 10px;
}

.content {
  width: 1200px;
  max-width: 1200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
}

nav {
    z-index: 98;
    width: 1200px
    margin: auto;
}

.nav-link {
  font-size: 14px;
  margin-left: 12px;
}

.navbar-brand {
  font-family:  Herculanum;
  font-size: 30px;
}

#cartIcon {
  margin-right: 6px;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
