* {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

body {
  background-color: rgba(0,0,0,0.2);
}

header {
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 38vh;
}

nav {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0px;
}

div.carousel {
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 38vh;
}

section.blocks {
  background-color: rgba(0,0,0,.1);
  width: 100%;
  height: 38vh;
  margin: 5px 0px;
}

footer.footer-top {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 30vh;
}
footer.footer-bottom {
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 5vh;
}

.content {
  width: 1200px;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
  margin: auto;
}

.nav-pills li a{
  font-size: 20px;
  font-family: futura;
  color: #bada55;
  max-width: 100%;
  line-height: 70px;
  margin-right: 16px;
}

nav {
    z-index: 98;
}

.navSpace {
  margin-left: ;
}
