* {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

body {
  background-color: rgba(0,0,0,0.2);
}

header {
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 38vh;
}

nav {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0px;
}

div.carousel {
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 38vh;
}

section.blocks {
  background-color: rgba(0,0,0,.1);
  width: 100%;
  height: 38vh;
  margin: 5px 0px;
}

footer.footer-top {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 30vh;
}
footer.footer-bottom {
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 5vh;
}

.content {
  width: 1200px;
  height: 100%;
  background-color: rgba(255,255,255,0.1);
  margin: auto;
}

div.container {
  display: flex;
  flex-wrap: nowrap;
  font-size: 10px;
}

li p{
  font-size: 20px;
  font-family: futura;
  color: #bada55;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

div.brand p{
  font-family: Luminari, fantasy;
  line-height: 70px;
}

nav div.item {
  background: blue;
}
